* {
    margin: 10px;
    padding: 0px;
}

.text_center {
    text-align: center;
}

/*font family added*/
.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Header Started */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header p {
    color: #0D1321;
    font-size: 25px;
    font-weight: 800;
    line-height: 30px;
    text-align: left;
}

header button {
    padding: 15px 22px;
    margin: 0px 8px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 6px;
    opacity: 0.8;

}

/* Header Ended */

/* main part started*/
.main_view {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('../img/bg.png');
    margin: 20px;
    padding: 25px 0px 45px;
}

.main_view h1 {
    width: 998px;
    margin: 15px 0px;
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    text-align: center;
}

.main_view p {
    width: 852px;
    margin: 15px 0px;
    opacity: 0.7;
    color: rgb(13, 19, 33);
    line-height: 26px;
    text-align: center;
}

.main_view button {
    padding: 21px 24px 21px 24px;
    margin: 0px 10px;
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    line-height: 23px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
}

/*main part ended*/

/* Why web development part started*/

.why_web {
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    margin: 80px;
    padding: 80px;
}

.why_web h2 {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    margin: 24px 0px;
}

.why_web p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    margin: 24px 0px;

}

.why_web_content {
    display: flex;
    padding: 48px;
    margin: 32px 0px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);

}

.text_part h3 {
    width: 390px;
    margin: 16px 0px;
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    line-height: 36px;
    text-align: left;
}

.text_part p {
    width: 468px;
    margin: 16px 0px;
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
}

.text_part button {
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    border: 2px solid rgb(13, 19, 33);
    padding: 12px 20px 12px 20px;
    color: rgb(13, 19, 33);
    opacity: 0.7;
    margin: 32px 0px;
}

.image_part img {
    padding-left: 130px;
}

.mid_text_part {
    padding: 30px;
}

.mid_text_part h3 {
    width: 477px !important;
}

/* Why web development part Ended*/